@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.Login{
    border:2px solid black;
    height:65vh;
    width:25vw;
    display:none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap:30px;
    position: absolute;
    top:20%;
    left:40%;
    border-radius: 20px;
    background-color:#eadedebd;
    border:none;
    font-family: 'Open Sans';
    padding-bottom:30px;
    z-index: 10;
    position: fixed;
    color:black;

}
.cross{
    position:absolute;
    top:0%;
    right:2%;

}
.cross:hover{
    cursor: pointer;
    scale:1.2;
}
.signup{
    border:2px solid black;
    height:65vh;
    width:25vw;
    display:none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap:30px;
    position: absolute;
    top:20%;
    left:40%;
    border-radius: 20px;
    background-color: #eadedebd;
    border:none;
    font-family: 'Open Sans';
    padding-bottom:30px;
    color:black;
    z-index:10;
    position:fixed;
}
.invert{
    
}
button{
    background-color: transparent;
    border-radius: 5px;
    border:1px solid #f2efef1f;
    padding:2px 5px;
    font-family: 'Open Sans';
}
.cafe{
    height:100vh;
    width:100vw;
    position:absolute;
    
}
.person{
    border-radius: 150px;
    position: absolute;
    top:5%;
    right:35%;
    margin-bottom: 10px;
}
.boards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5px;
}
#username, #txtpwd1,#txtpwd,#txtEmail,#txtEmail1,#txtconfirm{
    border:none;
    border-bottom: 1px solid black;
    width:200px;
    background-color: transparent;
    font-family: 'Open Sans';
}
#remember{
    background-color: black;
}
.bar{
    width:18vw;
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pass{
    font-size: small;
    border:none;
    background-color: transparent;
    font-family: 'Open Sans';

}
button:hover{
    scale: 1.1;
    cursor: pointer;
}
